<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>DCU Control Unit</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
    <link href="/static/css/default.css" rel="stylesheet" type="text/css">
    <link href="/static/css/jquery-ui-1.8.16.smoothness.css" rel="stylesheet" type="text/css">
    <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body uid="{{ uid }}">
<script type="text/javascript">
<!--
function load(filename, filetype){
    if (filetype == "js") { //if filename is a external JavaScript file
        var fileref = document.createElement('script');
        fileref.setAttribute("type","text/javascript");
        fileref.setAttribute("src", filename);
    }
    else if (filetype == "css") { //if filename is an external CSS file
        var fileref = document.createElement("link");
        fileref.setAttribute("rel", "stylesheet");
        fileref.setAttribute("type", "text/css");
        fileref.setAttribute("href", filename);
    }
    if (typeof fileref != "undefined")
        document.getElementsByTagName("head")[0].appendChild(fileref);
}

$(document).ready(function() {
{% if uid %}
    load_web_module();
{% else %}
    $("#send-button").button({
        text: false,
        icons: {
            primary: "ui-icon-key"
        }
    }).click(function(){
        var name = $("#name-input").val();
        if (name) {
	        $.ajax({
                type: "GET",
                dataType: "json",
                url: "dcu",
                data: { 
        	        "name": name, 
        	        "module": "web" },
                success: function(data) {
                    $("#login-toolbar").remove();
                    $("body").attr("uid", data["uid"]);
                    $.cookie("uid", data["uid"]);
                    load_web_module();
                },
                statusCode: {
                    400: function(data) { alert(data.responseText); },
                    500: function(data) { alert(data.responseText); }
                }
            });
        }
    });
{% endif %}
});

function load_web_module() {
    $.ajax({
        type: "GET",
        dataType: "html",
        url: "dcu",
        data: { "uid": $("body").attr("uid")
{% if recv %}, "recv": "{{ recv }}" {% endif %}
        },
        success: function(data) {
            $("body").append(data);
        },
        statusCode: {
            403: function(data) { 
                alert(data.responseText); 
                $.cookie("uid", null);
                location.reload(true);}
        }
    });
}

-->
</script>
{% if not uid %}
<div class="ui-widget-header ui-corner-all toolbar" id="login-toolbar">
    <label class="ui-widget">Name:</label>
    <input type="text" id="name-input" class="ui-widget" size=15 />
    <button id="send-button">Login</button>
</div>
{% endif %}
</body>
</html>
